@import "./variable";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    color: $dark;
}

nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
        transform: scale(1.2);
    }
}
nav li a {
    transition: $smooth;
    &:hover {
        color: $primary-hover;
    }
}

.size {
    background: $secondary;
}
.add-to-cart {
    border: 2px solid $primary-hover;
    color: $primary-hover;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
        transform: scale(1.2);
    }
    &:focus{
        outline: none;
    }
}
.btn {
    background: $primary;
}
section.cart {
    background: $secondary;

    .amount {
        color: $primary-hover;
    }
    .order button {
        background: $primary-hover;

        &:hover {
            background: $primary;

        }
    }
    img {
        mix-blend-mode: darken;
    }
    .login {
        background: $primary-hover;

        &:hover {
            background: $primary;
        }
    }
}
.social::before {
    content: "";
    width: 150px;
    height: 2px;
    display: block;
    background: #ded0d0;
    position: absolute;
    top: 38.3rem;
    left: 36%;
}
.social::after {
    content: "";
    width: 150px;
    height: 2px;
    display: block;
    background: #ded0d0;
    position: absolute;
    top: 38.3rem;
    right: 36%;
}
.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
    font-weight: bold !important;
}
// .input .error{
//     color: #ff3860;
//     font-size: 13px;
//     margin-top: -.6rem;
// }
